{% extends 'ThemesBootstrapBundle::layout.html.twig' %}

{% block body %}

<div class="container-fluid">
  <div class="row-fluid">
    {% include 'MercadianMainBundle:Default:header.html.twig' %}
    <div class="row-fluid">
      <div class="span4">
        <!--Sidebar content-->
        lateral
      </div>
      <div class="span8">
        <!--Body content-->
        principal
      </div>
    </div>
  </div>
</div>

{% endblock %}

